.loading {
    background-image: url("../../assets/images/Loading_icon.gif ");
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px auto;  
  }

  .textLoad{
    margin-left: 41%;
    margin-top: -100px;
    font-size: 20px;
    color: #7e7575;
  }