.videoContainer {
  width: "40%";
  margin-top: 10px;
    // background-image: url(../../assets/images/Loading_icon.gif);
    // z-index: 10;
}

.videoDiscription {
  margin-top: 10px;
  margin-left: "20px" 
}
.subTitle{
  font-size: 10px;
  color: rgb(79, 68, 68);
}

.discription{
  color: rgb(79, 68, 68);
  font-size: 13px;
}
